[Unit]
Description=OTOMANET Celery Beat
After=network.target redis.service otomanet.service

[Service]
User=miftah
Group=miftah
WorkingDirectory=/home/miftah/.antigravity-server/1.Project_Automation/netautotool
Environment="PATH=/home/miftah/.antigravity-server/1.Project_Automation/netautotool/venv/bin"
EnvironmentFile=/home/miftah/.antigravity-server/1.Project_Automation/netautotool/.env
ExecStart=/home/miftah/.antigravity-server/1.Project_Automation/netautotool/venv/bin/celery -A celery_app beat --loglevel=info

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
